{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
{% if posts.size == 0 %}
    {% assign posts=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% endif %}
{% if posts.size > 1 %}
    <footer class="lang-options">
        <h5>{{ site.data.ui-text[page.locale].langs | default: "Read this post in a different language" }}</h5>
        <ul>
        {% for post in posts %}
            {% if post.lang != page.lang %}
                <li><a href="{{ post.url }}" class="{{ post.lang }} title="View in {{post.lang}}">{{ site.data.languages[post.lang].icon }}  {{ site.data.languages[post.lang].label }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </footer>
{% endif %}