<!-- Begin Mailchimp Signup Form -->
<div id="subscribe">
<form action="https://jabsserver.us17.list-manage.com/subscribe/post?u=c55bbb344727b3a54a4fae314&amp;id=1b9f031927" method="post" id="sub-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <b>{{ site.data.ui-text[include.locale].subscribe-title }}</b>
  <input type="email" value="{{ site.data.ui-text[include.locale].subscribe-email | default: 'Your email' }}" name="EMAIL" class="required email" id="sub-mail" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c55bbb344727b3a54a4fae314_1b9f031927" tabindex="-1" value=""></div>
  <div class="clear"><input type="submit" value={{ site.data.ui-text[include.locale].subscribe }} name="subscribe" id="mc-embedded-subscribe" class="btn--info"></div>
</form>
</div>

<!--End mc_embed_signup-->