---
layout: default
author_profile: false
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html locale=page.locale %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html locale=page.locale %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html locale=page.locale %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html locale=page.locale %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {% for post in page.posts %}
      {% include archive-single.html locale=page.locale %}
    {% endfor %}
  </div>
</div>
