#subscribe {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  max-width: 100%;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;

  @include breakpoint($x-large) {
    max-width: $max-width;
  }
}

#sub-form {
  @include clearfix;
  border-radius: 20px;
  border: solid;
  border-width: thin;
  border-color: gray;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

#sub-mail {
  margin-top: 1em;
}